.row{
    display: flex;
    flex-wrap: wrap;

}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .col-6  {width: 50%;}
}
    

h1{
    text-align: center;
}

h5{
  font-size: x-large
}

hr.solid {
  border-top: 1px solid  rgb(6, 6, 78);
}

.card-title{
    text-align: center;
    padding: 1rem 1rem;
}

.author{
    text-align: right;
}

.card{
    border: solid 2px rgb(6, 6, 78);
    border-radius: 1rem;
}